@import url('https://fonts.googleapis.com/css');


#face {
  font-family: "Dosis";
  font-size: 15vw;
  margin-top: 5%;
  text-align: center;
}

footer {
  font-family: "Didact Gothic", cursive;
  text-align: center;
  font-size: 16pt;
}

#inputs {
  text-align: center;
}

#search-button {
  background-color: #2c3e50;
  border: solid 2px #2c3e50;
  border-radius: 5%;
  color: #ffffff;
  height: 20px;
  transition-duration: 0.2s;
}
#search-button:hover {
  background-color: #ffffff;
  color: #2c3e50;
}

@media only screen and (min-width: 739px) {
  #face {
    font-size: 111.44999694824219px;
  }
}
